<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Template is working</title>
</head>
<body>
     template beginner
   {{ name }} from {{ place }}
   
   <h1>Welcome to Text analyzer</h1>
   <form action="/analyze/" method="get"> 
    
    <textarea name="text" style="width: 1247px; height: 113px;"> </textarea>
    <input type="checkbox" name="removepunc">Remove Punctuations<br>
    <input type="checkbox" name="fullcaps">UPPERCASE<br>
    <input type="checkbox" name="newlineremover">New line Remover<br>
    <input type="checkbox" name="extraspaceremover">Extra Space Remover<br>
     <input type="checkbox" name="charcount">Character count<br>
   
    <button type="submit">Analyze Text</button>                                                                                                                                                                                                                                                                                                                                                                                 
   </form>
</body>
</html>